/* ---------------------bg--------------------- */
.Home {
    background-image: url('../../Images/s_slider_bg.jpg');
    background-size: cover;
    background-position: center center;
    font-size: 16px;
}
/* ---------------------font weight--------------------- */
.Home h6, .Home h2, .Home button{
    font-weight: 700;
}
/* ---------------------font size--------------------- */
.Home h6 {
    font-size: 1.6em;
}
.Home h2 {
    font-size: 3.75em;
}
/* ---------------------button--------------------- */
.Home button{
    font-size: 0.75em;
    border: #E4D804 2px solid;
    color: #e3dfdf ;
    letter-spacing: 1px;
    padding: 16px 34px;
}
.Home button:hover{
    background-color: #E4D804;
    color: #252631;
}
.layer-carrier{
    position: relative;
    overflow: hidden;
}
.movie-layer{
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000097;
    z-index: 55;
    transition: all 0.3s;
}
.slick-slider:hover .movie-layer {
    top: 0;
  }
.layer-carrier img{
    border: rgb(184 177 44) 10px solid;
    box-shadow: 0px 1px 13px 0px rgb(184 177 44);
}
